@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.container {
  @include main-grid;
}
.main {
  grid-column: main-start/main-end;
  grid-row: main-start/main-end;
  display: grid;
}
