@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36rem;
  padding: 0.5rem 2rem;
}
.header {
  font-size: 2.6rem;
  align-self: center;
  margin-bottom: 2rem;
}
.form {
  flex-direction: column;
  justify-content: space-around;
}

.btnDiv {
  display: flex;
  justify-content: space-around;
}
