@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, 0.5);
  z-index: 1050;
}
.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
  padding: 2rem;
  border-radius: 6px;
  background-color: $color-white;
  z-index: 1050;
  @include respond("xs") {
    top: 10em;
    transform: translate(-50%, -0%);
    padding: 1.5rem 1rem;
  }
}
