@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  @include main-grid;
}
.sideBar {
  @include sidebar;
  margin-right: 3rem;
}

.main {
  grid-column: main-start/main-end;
  grid-row: main-start/main-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10rem 1fr;
  align-items: flex-start;
  gap: 2rem;
}
.mainHeader {
  grid-row: 1/2;
  grid-column: 1/-1;
  font-size: 3rem;
  text-align: center;
  align-self: center;
  letter-spacing: 0.2rem;
}
