@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0 0.5rem;
  box-shadow: $box-shadow-2;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: rgba($color-rich-black, 0.02);
    button {
      color: $color-red;
    }
  }
  @include respond("xs") {
    margin: 1rem;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}
.userText {
  margin-right: 1rem;
  font-size: 1.6rem;
  color: $color-black;
  a {
    color: inherit;
  }
}

.button {
  display: block;
  border: none;
  padding: 0.6rem;
  background-color: transparent;
  color: $color-black;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.2s;
  @include respond("md") {
    padding: 0.3rem;
  }
}
