@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  @include modal-form-container;
}
.header {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 500;
}
.btnDiv {
  display: flex;
  justify-content: space-around;
}
