@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  display: grid;
  grid-template-columns: [left-gutter-start]20vw[left-gutter-end main-start]1fr[main-end right-gutter-start]30vw[right-gutter-end];
  grid-template-rows: [top-gutter-start]15rem[top-gutter-end main-start]1fr[main-end bottom-gutter-start]4rem[bottom-gutter-end];
  @include respond("xs") {
    grid-template-columns: [left-gutter-start]8vw[left-gutter-end main-start]1fr[main-end right-gutter-start]5vw[right-gutter-end];
  }
}
.header {
  grid-column: main-start/main-end;
  grid-row: top-gutter-start/main-start;
  align-self: center;
  font-size: 2.8rem;
  font-weight: 300;
}
.form {
  grid-column: main-start/main-end;
  grid-row: main-start/main-end;
}
.btnDiv {
  display: flex;
  flex: 0.4;
  justify-content: space-between;
  width: 300px;
  @include respond("xs") {
    width: 250px;
  }
}
