@import "../../styles/variables.scss";

.container {
  position: relative;
  min-width: 50rem;
  border: none;
  margin-right: 5px;
}
.input {
  width: 100%;
  border: 1px solid rgba($color-black, 0.4);
  border-bottom: none;
  padding: 0.5rem 0.8rem;
  background-color: $color-white;
  font-size: 1.6rem;
  font-weight: 300;
  transition: all 0.2s;
  &:hover {
    background-color: rgba($color-rich-black, 0.05);
  }
  &:focus {
    box-shadow: $box-shadow-1;
    & + * {
      height: max-content;
      box-shadow: $box-shadow-1;
    }
  }
}

.inputDropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 0%;
  width: 100%;
  overflow: hidden;
  border: 1px solid rgba($color-black, 0.4);
  border-top: none;
  background-color: $color-white;
  transition: all 0.2s;
  z-index: 1100;
}
.dropdownItem {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.5rem 0.8rem;
  // &:hover {
  //   background-color: $color-blue;
  // }
}
.dropdownItemActive {
  @extend .dropdownItem;
  background-color: $color-blue;
}
