@import "../../styles/variables.scss";
.header {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.wrapper {
  margin-bottom: 3rem;
  position: relative;
}
.wrapperSm {
  position: relative;
}
.wrapperXs {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-padding-end: 0px;
  -moz-padding-start: 0px;
  background: transparent;
  appearance: none;
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0.8rem 1.2rem;
  width: 18rem;
  border-radius: 2px;

  border: none;
  margin-bottom: 0.7rem;
  line-height: 2rem;
  transition: all 0.2s;
  text-align-last: center;
  &:hover {
    background-color: rgba($color-rich-black, 0.05);
  }
  &:focus {
    box-shadow: $box-shadow-1;
  }
  option {
    font-weight: inherit;
    font-size: inherit;
    color: $color-black;
    &:disabled {
      color: #666;
    }
  }
  &:-moz-focusring {
    outline: 0;
    color: transparent;
  }
}
@-moz-document url-prefix() {
  .select {
    padding: 0.8rem 0.4rem;
  }
  .selectSm {
    padding: 0.8rem 0rem;
  }
}
.selectSm {
  @extend .select;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.8rem 0.8rem;
  margin-bottom: 0rem;

  width: 10rem;
  border-radius: 2px;
  color: $color-white;
}
.selectXs {
  @extend .select;
  width: 100%;
  font-size: 1.4rem;
  color: $color-white;
}
