@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.container {
  @include main-grid;
  @include respond("md") {
    grid-template-rows: [title-row]10rem[top-gutter-start]8rem [top-gutter-end main-start]1fr[main-end pagination-start]5rem[pagination-end];
  }
}
.main {
  @include main-books;
}
.header {
  grid-column: left-gutter-start/right-gutter-end;
  grid-row: title-row/top-gutter-start;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
}
