@import "../../styles/variables.scss";
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin-bottom: 2rem;
}
.header {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.text {
  margin-bottom: 0.3rem;
  text-align: center;
  font-size: 1.2rem;
}
