@import "../../styles/variables.scss";
.container {
  grid-row: top-gutter-start/main-start;
  grid-column: main-start/main-end;
  align-self: flex-end;
  display: flex;
  max-width: 40rem;
  margin-bottom: 1.5rem;
}
