@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $color-white;
  z-index: 10000;
}
.brand {
  margin: 0 4rem 0 2rem;
  color: $color-black;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  @include respond("md") {
    margin: 0 2rem;
  }
  @include respond("xs") {
    margin: 0 1.5rem;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.navLeft {
  display: flex;
  flex: 1;
}
.navRight {
  display: flex;
  justify-content: flex-end;
  &:last-child {
    margin-right: 2rem;
  }
}
.hamburger {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.7rem;
}

.navItem {
  margin-right: 1.7rem;
  margin-top: 0.8rem;
  @include respond("md") {
    margin-right: 1rem;
  }
  @include respond("md") {
    margin-right: 0.5rem;
  }
}

.navItemText {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: $color-black;
  transition: all 0.2s;
  padding: 0.3rem;

  &:hover,
  &:focus {
    color: $color-red;
  }
  @include respond("md") {
    font-size: 1.4rem;
  }
  @include respond("sm") {
    letter-spacing: 0rem;
  }
  @include respond("xs") {
    font-size: 1.3rem;
    padding: 0.3rem;
  }
}
.navItemTextActive {
  @extend .navItemText;
  color: $color-red;
}
