@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.navCollapsible {
  position: fixed;
  top: 6rem;
  right: 0px;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: $color-red;
  transition: all 0.3s;
  @include respond("xs") {
    flex-direction: column;
    height: max-content;
    padding: 1rem;
    padding-bottom: 0;
  }
}
.navCollapsed {
  position: fixed;
  top: 6rem;
  right: 0px;
  width: 0%;
  height: 0px;
  opacity: 0;
  transition: all 0.3s;
}
.navBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navItem {
  width: 100%;
  border: none;
  padding: 0.8rem 0.8rem;
  border-radius: 2px;
  margin-bottom: 1rem;
  background: transparent;
  text-align: center;

  &:hover {
    background-color: rgba($color-rich-black, 0.05);
  }
  &:focus {
    box-shadow: $box-shadow-1;
  }
}
.navItemText {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: $color-white;
  transition: all 0.2s;
}
.selector {
  @extend .navItemText;
  font-weight: 700;
  cursor: pointer;
}
.selectorXs {
  @extend .selector;
  padding: 0.8rem 0.8rem;
  margin-bottom: 1rem;
}
