@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  @include sidebar;
}
.header {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.selector {
  @extend .header;
  transition: all 0.2s;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $color-red;
  }
}
.selectorAlt {
  @extend .selector;

  &:hover,
  &:focus {
    color: $color-blue;
  }
}
.button {
  display: block;
  border: none;
  width: 14rem;
  padding: 0.4rem 1.2rem;
  margin: 0.8rem 0;
  background-color: transparent;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
  &:hover,
  &:focus {
    color: $color-red;
    box-shadow: $box-shadow-2;
  }
}
.buttonActive {
  @extend .button;
  color: $color-red;
}
.buttonAlt {
  @extend .button;
  &:hover,
  &:focus {
    color: $color-blue;
  }
}
.buttonActiveAlt {
  @extend .buttonActive;
  color: $color-blue;
}
