@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  @include main-grid;
}
.sideBar {
  @include sidebar;
}
.sideHeader {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.from {
  display: flex;
  align-items: center;
}
.sideInfo {
  margin-right: 0.5rem;
}
.header {
  grid-row: 1/2;
  grid-column: main-start/main-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
.main {
  @include main-books;
}
